/* NAVVAR */
.nav-link{
    color:#fd2f33;
    /*color:#292168;*/
}
.nav-link:focus, 
.nav-link:hover{
    color: #0049ad;
    background-color: #0049ad20;
    /*color: #33afdb;
    background-color: #33afdb20;*/
}

.cinta-azul{
    color: #FFFFFF;
    background-color: #0049ad;;
}

.cinta-roja{
    color: #FFFFFF;
    background-color: #fd2f33;;
}

.texto-principal{
    color: #fd2f33;
}

.texto-secundario{
    color: #0049ad;
}

.card-img-top {
    height: 200px;        /* Alto fijo de la imagen */
    object-fit: cover;    /* Recorta y centra la imagen */
}